# functions
export(
       ga, ga.control, gamlss.ga, 
       ba, ga.control, gamlss.ba,
       nn, nn.control, gamlss.nn,
       #la, la.control, gamlss.la,
       # penLags, 
       fk, gamlss.fk,
       #blag, llag, wlag,
       fitFixedKnots, fitFreeKnots,
       tr, gamlss.tr,
      centilesTwo)

importFrom(splines, splineDesign)
importFrom(mgcv, exclude.too.far)
importFrom(gamlss.dist, dNO, pNO, qNO, as.gamlss.family)
importFrom(utils, tail)
importFrom(mgcv, bam)
importFrom(stats, knots)
import(gamlss)
import(stats)
import(grDevices)
import(methods)
import(graphics)


#importFrom(gamlss.nl)
importFrom(nnet, nnet)
#importFrom(lattice)
importFrom(mgcv, gam, gam.control)
importFrom(rpart, rpart.control, rpart)


#S3method(fitted, penlags)
#S3method(coef, penlags)
#S3method(AIC, penlags)
#S3method(deviance, penlags)
#S3method(print, penlags)
#S3method(summary, penlags)
#S3method(plot, penlags)
#S3method(predict, penlags)
#S3method(residuals, penlags)


S3method(plot, nnet)

S3method(print, FixBreakPointsReg)
S3method(fitted, FixBreakPointsReg)
S3method(residuals, FixBreakPointsReg)
S3method(coef, FixBreakPointsReg)
S3method(knots, FixBreakPointsReg)
S3method(predict, FixBreakPointsReg)

S3method(print, FreeBreakPointsReg)
S3method(fitted, FreeBreakPointsReg)
S3method(residuals, FreeBreakPointsReg)
S3method(coef, FreeBreakPointsReg)
S3method(summary, FreeBreakPointsReg)
S3method(vcov, FreeBreakPointsReg)