#exportPattern("^[[:alpha:]]+")
# functions
export(ma, ma.control, gamlss.ma)
export(so, SOP, gamlss.so)
importFrom(gamlss.dist, dNO, pNO, qNO)
importFrom(utils, tail)
import(earth)
import(gamlss)
import(stats)
#import(grDevices)
#import(methods)
#import(graphics)
import(SOP)
import(gbm)
import(randomForest)
importFrom("methods", "is")

#importFrom(gamlss.nl)
#importFrom(nnet, nnet)
#

